#header{
    display: flex;
}
#font > div{
    text-align: center;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
}
#colors > div {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    float: left;
}
#inp{
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
}
#text{
    margin-top: 30px;
    margin-left: 10px;
    height: 200px;
    width: 500px;
}
#colors > div:nth-child(1){
    background-color: red;
}
#colors > div:nth-child(2){
    background-color: black;
}
#colors > div:nth-child(3){
    background-color: purple;
}
#colors > div:nth-child(4){
    background-color: green;
}
#colors > div:nth-child(5){
    background-color: yellow;
}