.select-color-table {
    border-collapse: unset;
    margin-left: auto;
    margin-right: auto;
}

.select-color-table tr td {
    width: 70px;
    height: 70px;
}

.brown {
    background-color: brown;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.light-green {
    background-color: greenyellow;
}

.green {
    background-color: green;
}

.hotpink {
    background-color: hotpink;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

.game-area-table {
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.game-area-table td {
    width: 50px;
    height: 50px;
}

.game-area-table td {
    border: 1px dashed black;
}

/* Active square in select color table */
.acive-square {
    outline: 3px dashed black;
}